{% extends 'base.html' %}

{% block name %}

<title>GarageSale</title>

{% endblock %}

{% block header %}
    <h1>Category Editor</h1>
{% endblock %}


{% block body %}

<form action="{{ action }}" method="POST" enctype="multipart/form-data">
    <div>
        <table class="table">
            <tr>
                <th>Category</th>
            </tr>
            <tr>
                <td><input class="form-control" type="text" name="name" id="name" value="{{ category.name if category else '' }}"></td>
            </tr>
        </table>
    </div>
    <input class="form-control" type="submit" value="{{ 'Update Category' if category else 'Add Category' }}">
</form>

{% endblock %}