{% extends 'base.html' %}

{% block name %}

<title>GarageSale</title>

{% endblock %}

{% block header %}
    <h1>Categories</h1>
{% endblock %}

{% block body %}
<div class="content">
    <table class="table">
        <tr>
            <th>#</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="/categories/{{ category.id }}/delete" class="btn btn-outline-danger">Delete</a>
                    <br>
                    <a href="/categories/{{ category.id }}/update" class="btn btn-outline-info">Rename</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a href="/categories/add" class="btn btn-primary">Add</a>
</div>
{% endblock %}