{% extends 'base.html' %}

{% block name %}

<title>GarageSale</title>

{% endblock %}

{% block header %}
    <h1>Lot</h1>
{% endblock %}

{% block body %}
<div class="content">
    {% if image_filenames %}
    <div>
        <h3>Images:</h3>
        <div class="image-container">
            {% for image_filename in image_filenames %}
                <img src="{{ url_for('lots.image_folder', id=lot.id, filename=image_filename) }}" alt="{{ image_filename }}" height="250">
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <form action="{{ action }}" method="POST" enctype="multipart/form-data">
        <br>
        <div>
            <h3>Upload Photos</h3>
            <input  class="form-control" type="file" name="images" id="images" multiple>
        </div>
        <br>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Auction Start Price</th>
                <th>Buy Out Price</th>
                <th>Currency</th>
                <th>For Sale</th>
            </tr>
            <tr>
                <td><input class="form-control" type="text" name="name" id="name" value="{{ lot.name if lot else '' }}"></td>
                <td><input class="form-control" type="text" name="description" id="description" value="{{ lot.description if lot else '' }}"></td>
                <td><input class="form-control" type="number" name="auction_start_price" id="auction_start_price" value="{{ lot.auction_start_price if lot else '' }}"></td>
                <td><input class="form-control" type="number" name="sale_price" id="sale_price" value="{{ lot.sale_price if lot else '' }}"></td>
                <td>
                    <select class="form-select form-select-lg mb-3"  name="currency" id="currency" value="{{ lot.currency if lot else '' }}">
                        {% for currency in currencies %}
                            <option value="{{ currency }}" {% if lot and lot.currency == currency %}selected{% endif %}>{{ currency }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input class="form-control" type="checkbox" name="active" id="active" {% if lot and lot.active %}checked{% endif %}></td>
            </tr>
        </table>
        <div>
            <h3>Categories</h3>
            <table class="table">
                {% for category in categories %}

                <td>{{ category.name }}</td>
                <td><input type="checkbox" name="category_{{ category.id }}" id="category_{{ category.id }}" {% if category.id in assigned_categories %}checked{% endif %}></td>

                {% endfor %}
            </table>
        </div>
        <div class="d-grid col-1 mx-auto">
            <input type="submit" class="btn btn-outline-success" value="{{ 'Update Lot' if lot else 'Add Lot' }}">
        </div>
    </form>
</div>
{% endblock %}

