{% extends 'base.html' %}
<title>GarageSale</title>
{% block name %}

{% endblock %}

{% block body %}
<div class="content">
    <h1>Lot Editor</h1>
    {% if image_filenames %}
    <div>
        <h3>Images:</h3>
        <div class="image-container">
            {% for image_filename in image_filenames %}
                <img src="{{ url_for('lots.image_folder', id=lot.id, filename=image_filename) }}" alt="{{ image_filename }}" height="250">
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <form action="{{ action }}" method="POST" enctype="multipart/form-data">
        <br>
        <div>
            <h3>Upload Photos</h3>
            <input type="file" name="images" id="images" multiple>
        </div>
        <br>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Auction Start Price</th>
                <th>Buy Out Price</th>
                <th>Currency</th>
                <th>For Sale</th>
            </tr>
            <tr>
                <td><input type="text" name="name" id="name" value="{{ lot.name if lot else '' }}"></td>
                <td><input type="text" name="description" id="description" value="{{ lot.description if lot else '' }}"></td>
                <td><input type="number" name="auction_start_price" id="auction_start_price" value="{{ lot.auction_start_price if lot else '' }}"></td>
                <td><input type="number" name="sale_price" id="sale_price" value="{{ lot.sale_price if lot else '' }}"></td>
                <td>
                    <select name="currency" id="currency" value="{{ lot.currency if lot else '' }}">
                        {% for currency in currencies %}
                            <option value="{{ currency }}" {% if lot and lot.currency == currency %}selected{% endif %}>{{ currency }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input type="checkbox" name="active" id="active" {% if lot and lot.active %}checked{% endif %}></td>
            </tr>
        </table>
        <input type="submit" value="{{ 'Update Lot' if lot else 'Add Lot' }}">
    </form>
</div>
{% endblock %}

